:root {
  --font-kr: "Gowun Dodum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI",
    Arial, sans-serif;

  --shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  --border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kr);
}

body {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.container {
  background-color: whitesmoke;
  width: clamp(500px, 80%, 1200px);
  height: 700px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  display: flex;
}

.left-section {
  width: 50%;
  border-right: 3px dashed gray;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#msg {
  margin-top: 2rem;
}

.msg.error {
  color: coral;
}

#form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-section {
  background-color: lightgray;

  width: 80%;
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.3rem;
}

.input-section input {
  flex: 1;
  outline: none;
  border: none;
  background: transparent;
}

.input-section button {
  outline: none;
  border: none;
  background-color: gray;
  border-radius: 32px;
  padding: 1rem 1.6rem;
  color: white;

  transition: opacity 0.3s ease;
}

.input-section button:hover {
  opacity: 70%;
}

.input-section button:active {
  opacity: 90%;
}

.right-section {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabs-section {
  position: absolute;
  top: 2rem;
  left: 50%;

  transform: translateX(-50%);
  display: flex;
}

.tab-btn {
  background: transparent;
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  background: gray;
  color: white;
}

.tab-btn + button {
  border-left: 1px solid gray;
}

.tab-btn.current {
  background: gray;
  color: white;
}

#todolist {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 500px;
  overflow: auto;
}

.todo-item {
  padding: 1rem;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 12px;
  background-color: lightgrey;
}

.todo-item h2 {
  font-size: 1rem;
}

.btn-section button {
  font-size: 20px;
  padding: 0.3rem 0.7rem;
  border: none;
  outline: none;
  background: transparent;

  transition: all 0.3s ease;
}

.btn-section button:hover {
  transform: translateY(-3px);
}

.todo-item.done h2 {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: coral;
}

.delete-btn {
  color: coral;
}
