:root {
  --font-kr:
    "Gowun Dodum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI", Arial,
    sans-serif;

  --shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  --border: 1px solid black;

  --app-background:
    radial-gradient(
      900px 600px at 20% 20%,
      rgba(255, 185, 175, 0.35),
      transparent 60%
    ),
    radial-gradient(
      900px 600px at 80% 20%,
      rgba(189, 210, 255, 0.5),
      transparent 60%
    ),
    linear-gradient(180deg, #f7f7fb, #eef2ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kr);
}

body {
  height: 100vh;
  background: darkgreen;
  display: flex;
  justify-content: start;
  align-items: start;
}

.cookie-banner {
  margin-top: 20px;
  margin-left: 20px;

  background-color: whitesmoke;
  padding: 2rem 2.8rem;
  border-radius: 12px;
  box-shadow: var(--shadow);
  display: none;
}

.cookie-banner.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cookie-banner img {
  width: 200px;
  height: 200px;
}

.cookie-banner h2 {
  font-size: 40px;
}

.cookie-banner p {
  color: gray;
  font-size: 20px;
}

.btn-section {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.btn-section button {
  flex: 1;
  padding: 1rem 0;

  cursor: pointer;
  outline: none;
  border: none;
  background-color: coral;
  color: white;
  border-radius: 8px;
  font-size: 18px;

  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.btn-section button:hover {
  background-color: lightcoral;
}

.btn-section button:active {
  transform: scale(0.95);
}
